[submodule "cv"]
	path = cv
	url = https://github.com/Kirhchoff/impreCV.git
[submodule "panama"]
	path = panama
	url = https://github.com/Kirhchoff/PanaMaGroup_page.git
[submodule "DevQuotes"]
	path = DevQuotes
	url = https://github.com/Kirhchoff/DevQuotes.git
