
/*@import url(github-light.css);*/

.grey-background {
  background: #212121;
}

.title {
  border-bottom-style: solid;
  padding-top: 20px;
  color: #ee8830;
  font-weight: bold;
  font-size: 260%;
}
.subtitle {
  padding-top: 4px;
  margin-bottom: 7px;
  color: #bc6520;
  font-size: 140%;
}
.icon {
  border: 2px solid #924313;
  border-radius: 10%;
  margin: 0px -1px;
  transition:border-color .6s cubic-bezier(.28,.99,.74,.94);
  color: #c0c0c0;
  padding: 1px;
}
.icon:hover {
  border-color: #ff9960;
}

.navbar-inverse {
  background: #393939 !important;
}
.navbar-item {
  padding: 0px 7px;
}
.navbar-item :hover{
  background: #424242 !important;
  color: #ee8830 !important;
}
.navbar-item a{
  color: #c0c0c0 !important;
  font-weight: bold;
  font-size: 110%;
  border-radius: 7%;
}

/*justified navbar workaround*/
.navbar-nav.nav-justified {
  display:table;
}

.navbar-nav.nav-justified > li{
  float:none;
  width:auto;
}
/*end workaround*/
p {
  margin-bottom: 500px !important;
}