
/*@import url(github-light.css);*/

body {
  background-color: #c0c0c0;
}
.grey-background {
  background: #212121;
}
.grey-background-light {
  background: #c0c0c0;
}

.title {
  border-bottom-style: solid;
  padding-top: 20px;
  color: #ee8830;
  font-weight: bold;
  font-size: 260%;
  letter-spacing: 1px;
}
.subtitle {
  padding-top: 4px;
  margin-bottom: 7px;
  color: #bc6520;
  font-size: 140%;
  letter-spacing: 1px;
}
.footer {
  margin-top: 50px;
  color: #c0c0c0;
}
.footer h3 {
  border-bottom-style: solid;
  color: #ee8830;
  margin-bottom: 25px;
}
.creation-remark {
  margin-top: 40px;
  color: #c0c0c0;
  font-size: 75%;
}
.creation-remark a {
  color: white;
  text-decoration: none;
}
.creation-remark a :hover {
  color: #bc6520;
}
.media-buttons {
  margin-top: 7px;
}
.icon {
  border: 2px solid #924313;
  border-radius: 10%;
  margin: 0px -1px;
  transition:border-color .6s cubic-bezier(.28,.99,.74,.94);
  color: #c0c0c0;
  padding: 1px;
}
.icon:hover {
  border-color: #ff9960;
}

.navbar-inverse {
  background: #393939 !important;
}
.navbar-item {
  padding: 1px 7px;
  letter-spacing: 1px;
}
.navbar-item :hover{
  background: #424242 !important;
  color: #ee8830 !important;
}
.navbar-item a{
  color: #c0c0c0 !important;
  font-weight: bold;
  font-size: 110%;
  border-radius: 7%;
}
#navigation-container {
  height: 48px;
}
.navigation-bar {
  -webkit-box-shadow: -1px 3px 7px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 3px 7px -1px rgba(0,0,0,0.75);
  box-shadow: -1px 3px 7px -1px rgba(0,0,0,0.75);
  height: 40px;
  z-index: 20;
  position: fixed;
  width: 100%;
}
/*justified navbar workaround*/
.navbar-nav.nav-justified {
  display:table;
}

.navbar-nav.nav-justified > li{
  float:none;
  width:auto;
}
/*end workaround*/

.my-face {
  max-width:100%;
  height: auto;
  border-radius: 3%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  margin: 10px 20px;
  float: left;
}

.welcome:after {
  content:'';
  display:block;
  clear: both;
}
.welcome-text {
  margin-top: 40px;
}

.content p {
  padding: 2px 5px;
  font-size: 115%;
  text-align: justify;
}

.content h2 {
  padding-top: 40px;
  margin-bottom: 20px;
}
.content  a:hover {
  color: #bc6520;
}
.content a {
  color: #904510;
  text-decoration: none;
}

.gallery {
  margin: 25px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.gallery .card {
  border-radius: 3%;
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}
.gallery .card img {
  border-radius: 3%;
  max-width: 200px;
}
.gallery .card p {
  width: 200px;
  padding-bottom: 0px;
  text-align: center;
}
.gallery .grey-background a{
  color: #c0c0c0;
}
.gallery .grey-background-light a{
  color: #111;
}
.gallery .card a:hover{
  color: #bc6520;
  text-decoration: none;
}
.gallery .card:hover {
  transition: transform 0.5s cubic-bezier(.28,.99,.74,.94);
  -ms-transform: scale(1.5, 1.5);
  -webkit-transform: scale(1.5, 1.5);
  transform: scale(1.5, 1.5);
  z-index: 10;
}
.fa-heart {
  color: red;
}

